#abajur{
    position: absolute;
    top: 8vmin;
    left: 150vmin;
    width: 15vmin;
    

    min-height: 0;
    margin: 0 0 0 0;
    border-radius: 0.75em;
    padding: 0%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    
    
  }