#shirley{
    position: absolute;
    top: 25vmin;
    left: 45vmin;
    width: 30vmin;
    

    min-height: 0;
    margin: 0 0 0 0;
    border-radius: 0.75em;
    padding: 0%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    z-index: 10;
  }


  .shirley_cabeca{
    position: absolute;
    top: 7vmin;
    left: 50vmin;
    width: 30vmin;
    z-index: 10 !important;   
    
  }

  #SHIRLEY_barriga{
    position: absolute;
    top: 26vmin;
    left: 59vmin;
    width: 17vmin;
    height: 20vmin;
    z-index: 10 !important;   
    
  }

  
  #SHIRLEY_braco_esquerdo{
    position: absolute;
    top: 25vmin;
    left: 44vmin;
    width: 20vmin;
    z-index: 10 !important;   
/*
    -webkit-animation: abana_preso_a_direita 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
    animation: abana_preso_a_direita 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
  */
  }

  #SHIRLEY_braco_direito{
    position: absolute;
    top: 25vmin;
    left: 65vmin;
    width: 20vmin;  
    z-index: 10 !important;
    
    /*
    -webkit-animation: abana_preso_a_esquerda 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
    animation: abana_preso_a_esquerda 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate-reverse both;
  */
  }


  #shirley_perna_direita{
    position: absolute;
    top: 40vmin;
    left: 67vmin;
    width: 7vmin;   
    z-index: 9 !important;
  }

  #shirley_perna_esquerda{
    position: absolute;
    top: 40vmin;
    left: 62vmin;
    width: 7vmin;   
    z-index: 9 !important;
  }